body {
    background-color: #000;
    color: #fff;
    background-image: url(Black_Texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}

.graph-row {
  margin-bottom: 0px;
}

.row .row {
  margin-top: 5px;
  margin-bottom: 0;
}

.graph {
  padding-top: 1px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
}

.graph-image {
    max-width: 100%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-container {
  width: 100%;
}

.header {
    text-align: center;
}

.header img {
    max-width: 100%; 
}

.sponsorList {
  list-style: none;
}

.sponsor-logo {
  max-width: 100%;
  text-align: center;
}