/*!
 * Custom Style v2.0.4
 *
 */

/*
@import url(../font-awesome/css/font-awesome.css);
@import url(../bootstrap/css/bootstrap.css);
*/

html {
  font-size: 62.5%;
  /* background-color: #FFF; */
  background-color: #1f3033 !important;
}

body {
  font-size: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: #FFF !important; */
  background-color: #1f3033 !important;
}

/*
@media (max-width: 300px) {
        html { font-size: 70%;}
}

@media (min-width: 500px) {
        html { font-size: 80%;}
}

@media (min-width: 700px) {
        html { font-size: 120%;}
}

@media (min-width: 1200px) {
        html { font-size: 300%;}
}
*/

.main-container {
  width: 99%;
}

font { 
  font-family: 'Arial Black', Gadget, sans-serif; 
  color: black; 
  text-align: center; 
}

#contents {
  background: #FFF;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  padding: 0px 5px 0px 25px;  
  margin-left: 5px;
}

.header {
  background: #FFF !important;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  /* padding: 0px 20px 0px 25px; */
  /*
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  */
}

.roomHeader {
  font-weight: bold;
  text-align: center; 
  background-color: #ffc000;  
  /*
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  */
  border-style: solid;
  border-color: #333;
  padding: 0px 20px 0px 25px;
  /*
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  */
}

#footer {

}

#top-container {
  background-color: #FFF;
  width: 99%;
}

#MainSpan10 {
    margin-left: 15px;
}

#scheduleCarousel {
  background: #fff;
  box-shadow: 0 0 30px #4A4A4A;
  font-size: 170% !important;  
  /* font-size: 1.5em; */
}

#scheduleCarousel .table {
  margin-bottom: 0px;
}

#scheduleCarousel .table th {
  line-height: 40px;
}

#scheduleCarousel .table td {
  line-height: 40px;
}

#scheduleCarousel [class^="icon-"], [class*=" icon-"] {
  background: none !important;
  padding-top: 2px;
  padding-right: 5px;
}

.schedule {
  background-color: #FFF;
}

#sponsors {
  background: #FFF;
}

#timerCell {
  background-color: #FFD700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#twitter{
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 30px #4A4A4A;    
}

.brand {
  letter-spacing: 2px;
}

.carousel.carousel-fade .item {
  opacity:0;
}

.carousel.carousel-fade .active.item {
    opacity:1;
}

.carousel-inner .sponsor-logo {
  object-fit: cover;
  padding: 0px;
  margin-top: 20px;
  background: #ffffff;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  width: 300px;
  height: auto;
  vertical-align: middle;
}

.carousel-inner .sponsor-logo img {
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: auto;
  vertical-align: middle;
}

.clock {
  font-weight: bold;
  list-style: none;
  margin: 0;
  font-size: 60px;
  padding-top: 20px;
  color:rgba(250,250,250,.3);
}

.clock li {
	float: left;
	width: 52px;
	height: 54px;
	position: relative;
	line-height: 65px;
    margin-right: 12px;
	/* padding-right: 2px; */
	
	/* This setting affects how much the cards stand out from the page.
	 * Lower numbers make the effect wider/larger, higher make it more shallow. */
	-webkit-perspective: 70;
}

.clock li.separator {
	color: #444;
	text-shadow: #fff 0 -1px 3px;
	font-weight: lighter;
	width: 10px;
	text-align: left;
	padding-top: 5px;
}

/* Normal looking time card */
.clock div.card {
	background: #444;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 2px;
	color: #fff;
	width: 1em;
	text-align: center;
	border-radius: 5px;
	position: relative;
	margin-right: 9px;

  /* Box shadow */
  box-shadow: 0 0 30px #4A4A4A;

  /* Background gradient */
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #090909),
      color-stop(1, #323232)
  );
  background: -moz-linear-gradient(
      center bottom,
      #090909 0%,
      #323232 100%
  );

}

.copyright {
  font-size: 1.5em;
  float: right;
  font-weight: bold;
  padding-top: 10px;
}

.promote {
  background-color: #FFD700;
  color: #000;
}

.sponsorList {
	list-style: none;
}

.sponsorList li {
  padding-bottom: 5px;
  display: inline;
}

/*
.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
*/


.table td {
  text-align: center;
}

.thumbnail {
  text-align: center;
}

.timer {
	font-weight: bold;
	list-style: none;
	margin-left: 175px;
	margin-right: auto;
	text-align: center;
  font-size: 36px;
  color:rgba(250,250,250,.3);
}

.timer li {
	float: left;
	width: 52px;
	/* height: 66px; */
	position: relative;
	
	/* This setting affects how much the cards stand out from the page.
	 * Lower numbers make the effect wider/larger, higher make it more shallow. */
	-webkit-perspective: 70;
}

.timer li.timer_separator {
	color: #444;
	text-shadow: #fff 0 -1px 3px;
	font-weight: lighter;
	width: 150px;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Normal looking time card */
.timer div.card {
	background: #444;
	padding: 5px 2px;
	color: #fff;
	width: 1em;
	text-align: center;
	border-radius: 5px;
	position: relative;

  /* Box shadow */
  box-shadow: 0 0 30px #4A4A4A;

  /* Background gradient */
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #090909),
      color-stop(1, #323232)
  );
  background: -moz-linear-gradient(
      center bottom,
      #090909 0%,
      #323232 100%
  );

}

.topicList {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: none;
}

.topic {
  text-align: center;
  left-margin: auto;
  right-margin: auto;
  font-size: 25px;
}

#header-row {
  background-color: #fff !important;
}

#schedule-row {
  background-color: #fff !important;
}

#schedule-row-hr {
    height: 20px;
    margin-bottom: 0px;
    border: 0px;
}

#bottom-row-hr {
    background: url('images/hr-image1.png') repeat-x top left;
    height: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}

#bottom-row {
  background-color: #1f3033;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.tweet {
  font-size: 2em;
  position: relative;
  color: #a7d0ff;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

.vcard { margin-top: 0px; float: left; }
.hentry { margin-left: 58px; }

.tweetpromote {
  border-radius: 1%;
  border: 1px solid rgba(255, 215, 0, 0.5);
  background-color: rgba(255, 215, 0, 0.1);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; 
}

.tweet-time {
    float: left;
    color: #999999;
    display: block;
    font-size: 0.9em;
}

.tweet-comment {
  display: block;
  color: #fff;
  font-size: 0.9em;
}

.tweet-pic {
  border: 2px solid rgba(56, 77, 96, 0.5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; 
}

.span2.knobspan {
  padding-bottom: 5px;
  width: 100px;
}

.span4.logospan {
  padding-top: 10px;
  width: 263px;
}

.span6.tagspan {
  padding-top: 0px;
}

.tagspan h2 {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 50px;
}

/* Colors for Schedule */

.topicList [class^="badge"], [class*=" badge"] {
  font-size: 1em !important;
  line-height: 1em !important;
  margin-right: 5px;
}

.DefaultTopic {
  background-color: rgb(204, 34, 153) !important;
  color: #fff !important
}

.AdaInitiativeAllyWorkshop {
  background-color: #ffa200 !important;
  color: #fff !important;
}

.ApacheBigtop {
  background-color: #0A7EF2 !important;
  color: #000 !important;
}

.BeginnerTutorials {
  background-color: #3353AF !important;
  color: #FFF !important;
}

.BigData {
  background-color: #a6ceff !important;
  color: #000 !important;
}

.BoFs {
  background-color: #FFBC00 !important;
  color: #000 !important;
}

.Cloud {
  background: #638dce !important;
  color: #fff !important;
}
.ContainerandVirtualization {
  background: #ffa200 !important;
  color: #000 !important;
}

.Developer {
  background: #D65C09 !important;
  color: #FFF !important;
}

.DevOps {
  background: #565448 !important;
  color: #fff !important;
}

.DrupalCamp {
  background: #0678be !important;
  color: #fff !important;
}

.Embedded {
  background: #004a4a !important;
  color: #fff !important;
}

.Entertainment {
  background: #004A4A !important;
  color: #ff3 !important;
}

.Fedora {
  background: #A30C0C !important;
  color: #fff !important;
}

.FileSystem {
  background: #FFE81F !important;
  color: #000 !important;
}

.General {
  background: #97A67A !important;
  color: #fff !important;
}

.GLADCamp {
    background: #0678be !important;
    color: FFF !important;
 }

 .HAMRadio {
    background: #96beef !important;
    color:  #fff !important;
 }

.HotApplications {
  background: #ff0 !important;
  color: #000 !important;
}

.Kernel {
  background: #AD9134 !important;
  color: #fff !important;
}

.Keynote {
  background: #D31111 !important;
  color: #fff !important;
}

.Kubeflow {
  background: #303030 !important;
  color: #a6ceff !important;
}

.LegalandLicensing {
  background: #FFF8DC !important;
  color: #000 !important;
}

.LibreGraphics {
  background: #ddd !important;
  color: #11a311 !important;
}

.Mentoring {
  background: #998876 !important;
  color: #fff !important;
}

.MySQL {
  background: #8B47BB !important;
  color: #fff !important;
}

.NewtoSCALE {
  background: #7FFF00 !important;
  color: #228B22 !important;
}

.NextGeneration {
  background: #96f74b !important;
  color: #000 !important;
}

.OpenNMS {
  background: #4D9E00 !important;
  color: #fff !important; 
}

.Observability {
  background: #000 !important;
  color: #ff0 !important;
}

.OpenData {
  background: #6c6c6c !important;
  color: #fff !important;
}

.OpenGovernment {
  background: #a6ceff !important;
  color: #d00 !important;
}

.OpenSourceinEnterprises {
  background: #ffd672 !important;
  color: #000 !important;
}

.OpenSourceSoftwareInEducation {
  background: #72B20F !important;
  color: #fff !important;
}

.openSUSE {
  background: #669900 !important;
  color: #000 !important;
}

.PostgreSQL {
  background: #0AACA0 !important;
  color: #fff !important;
}

.Puppet {
  background: #D2A3E8 !important;
  color: #000 !important;
}

.ScaleU {
  background: #405E5E !important;
  color: #fff !important;
}

.Security {
  background: #000 !important;
  color: #00FF00 !important;
}

.Sponsored {
  background: #007F06 !important;
  color: #fff !important;
}

.Testing {
  background: #EA18E5 !important;
  color: #fff !important;
}

.SysAdmin {
  background: #C4C249 !important;
  color: #000 !important;
}

.Ubucon {
  background: #774022 !important;
  color: #fff !important;
}

.UpSCALE {
  background: #956140 !important;
  color: #fff !important;
}

.Youth {
  background: #098C09 !important;
  color: #fff !important;
}
